on: [push]
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25
      - uses: gradle/actions/setup-gradle@v5
      - run: "./gradlew :plugin:build"
      - run: "./gradlew :plugin:publishPlugins"
        env:
          ORG_GRADLE_PROJECT_pluginPortalApiKey: "${{ secrets.GRADLE_PUBLISH_KEY }}"
          ORG_GRADLE_PROJECT_pluginPortalApiSecret: "${{ secrets.GRADLE_PUBLISH_SECRET }}"
